language: ruby
rvm:
- 2.1
branches:
  only:
  - master
  
before_script:
- chmod +x ./script/cibuild
- chmod +x ./script/deploy
- chmod 600 id_rsa
install: gem install jekyll html-proofer image_optim image_optim_pack
script: "./script/cibuild"
env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
sudo: false
before_install:
  - openssl aes-256-cbc -K $encrypted_9be470379aa4_key -iv $encrypted_9be470379aa4_iv -in id_rsa.enc -out id_rsa -d
after_success: "./script/deploy"